{% extends 'base.html' %}

{% block content %}
    <div class="mt-4">
        {% if messages %}
            <div>
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} mt-3">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif%}

        <h1 class="my-4">Cadastrar Novo Evento</h1>
        <div class="card">
            <div class="card-body">
                <form class="form-custom" method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="{{ form.artista.id_for_label }}">Artista:</label>
                        {{ form.artista }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.scheduled_date.id_for_label }}">Data Agendada:</label>
                        {{ form.scheduled_date }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.horario.id_for_label }}">Hora:</label>
                        {{ form.horario }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.descricao.id_for_label }}">Descrição:</label>
                        {{ form.descricao }}
                    </div>

                    <div class="d-flex">
                        <button type="submit" class="btn btn-primary flex-fill mr-2">Salvar</button>
                        <a href="{% url 'evento_list' %}" class="btn btn-secondary flex-fill">Voltar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
